

.header {
    width: 95%;
    position: relative;
    text-align: center;
    background-color: #111;
    padding: 10px;
    color: red;
    border: 2px solid rgb(121, 3, 3);
    box-shadow: 0px 10px 10px 1px red ;
    margin: 10px;
    margin-bottom: 0;
    z-index: 25;
    left: 50%;
    transform: translateX(-50%);
    
}

.contenedor {
    width: 95%;
    height: 350px;
    margin-left: 10px;
    position: absolute;
    background-color: rgb(8, 24, 8);
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);


}

.contenedor2 {
    display:inline-block;
    background-color: aliceblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

