body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-repeat: no-repeat;
    height:100vw;
}

img {
    height: 10rem;
    width: 100px;
    object-fit: cover;
    margin: 1%;
}

.form {
    position: absolute;

}

.BTodaBar {
    position: inherit;
    

}

.BNumCartas {
    position: absolute;
    top:2vw;
    width: 10vw;
}

#random {
    position: inherit;
    left: 35%;

}

#aleat {
    position: inherit;
    left: 49%;
}

.noRan {
    position: inherit;
    left: 35%;
    width: 50vw;
    
    
}

.cartas {
    position: absolute;
    margin:5%;
}