body {
    position: relative;
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
    height: 100vh;

    
}

.formulario {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color:royalblue;
    border: 2px solid lightgray;
    border-radius: 5%;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.342);
    left: 50%;
    top: 50%;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5%;
}

.submit {
    margin-top: 15px;
    margin-bottom: 15px;
}

.result {
    position:absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@keyframes animationP {
    0% {
        transform: skew(0,0);
    }
    25% {
        transform: skew(30deg, 20deg);
    }
    75%{
        transform: skew(-30deg, -20deg);
    }
    100%{
        transform: skew(0,0);
    }
}

.result  p {
    color: aliceblue;
    font-size: 25px;
    animation: animationP 6s infinite;


}

.img2 {
    margin-top: 15px;
}
